.graph .graph-title {
    display: none;
}

.filetree-sidebar {
    width: 300px;
}

h1, .markdown-rendered h1, .HyperMD-header-1, .HyperMD-list-line .cm-header-1 {
    text-align: left;
}

