.graph .graph-title {
    display: none;
}

.filetree-sidebar {
    width: 300px;
}

.published-container.is-readable-line-width .site-body-left-column {
    flex-basis: calc((100vw - var(--page-width)) / 2);
}

